.main-header {
	background-color: $color-grey-dark-1;
	box-shadow: 0 0 2rem rgba($color-black, 0.1);

	&__container {
		display: flex;
		height: 6.6rem;
	}

	&__brand {
		display: flex;
		align-items: center;

		&:link,
		&:visited {
			color: $color-font-primary;
			text-decoration: none;
		}

		&:hover {
			color: $color-blue;
		}
	}

	&__brand:hover &__brand-icon {
		fill: $color-blue;
	}

	&__brand-icon {
		display: block;
		width: 3.6rem;
		height: auto;

		fill: $color-font-primary;
		transition: fill 0.2s ease;
	}

	&__brand-text {
		font-size: 2.2rem;
		font-weight: 400;
		margin-left: 1.4rem;
		color: currentColor;
		transition: color 0.2s ease;
	}

	&__nav {
		margin-left: auto;
		display: flex;
	}
}

// Navigation
.nav-list {
	list-style: none;
	display: flex;
	// align-items: center;

	&__item {
		display: flex;
		align-items: center;

		&:not(:last-child) {
			margin-right: 2.4rem;
		}

		// &:hover .inner-list {
		// 	visibility: visible;
		// 	opacity: 1;
		// }
	}

	&__link {
		&:link,
		&:visited {
			text-decoration: none;
			color: $color-font-primary;
			font-size: 1.5rem;
			font-weight: 500;

			transition: color 0.2s ease;
		}

		&:hover {
			color: $color-blue;
		}
	}

	&__inner {
		color: $color-font-primary;
		font-size: 1.5rem;
		font-weight: 500;

		transition: color 0.2s ease;
		cursor: pointer;
		position: relative;

		&:hover {
			color: $color-blue;
		}
	}
}

// Inner navigation list
.inner-list {
	list-style: none;

	background-color: $color-grey-dark-3;
	border-radius: 5px;
	border: 1px solid $color-grey-dark-4;
	box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
	padding: 0.4rem 0;

	transition: opacity 0.4s ease;

	position: absolute;
	top: 3.6rem;
	right: 0;
	width: 22rem;

	text-align: right;

	// Initial state
	visibility: hidden;
	opacity: 0;

	&--visible {
		visibility: visible;
		opacity: 1;
	}

	&::before {
		content: '';

		display: block;
		width: 2rem;
		height: 2rem;

		position: absolute;
		top: 5px;
		right: 2rem;
		margin-top: -1rem;

		transform: rotate(45deg);

		background-color: $color-grey-dark-3;
		border: 1px solid $color-grey-dark-4;
	}

	&::after {
		content: '';

		display: block;
		width: 3rem;
		height: 2rem;

		position: absolute;
		top: 0;
		right: 0;
		margin-right: 1.5rem;

		background-color: $color-grey-dark-3;
	}

	&__item {
		padding: 1.4rem 2rem;

		&:not(:last-child) {
			border-bottom: 1px solid $color-grey-dark-4;
		}
	}

	&__link {
		&:link,
		&:visited,
		& {
			display: block;

			text-decoration: none;
			color: $color-font-primary;
			transition: color 0.2s ease;

			&:hover {
				color: $color-blue;
			}
		}
	}

	&__logout-btn {
		display: inline;
		border: none;
		background-color: transparent;

		font: inherit;
		cursor: pointer;
	}
}
