// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');

// Color variables
$color-white: #fff;
$color-black: #000;

$color-font-primary: rgba($color-white, 0.9);

$color-white-1: #f5f5f5;

$color-grey-1: #ddd;
$color-grey-2: #ccc;

$color-blue: #2980b9;
$color-red: #eb4d4b;
$color-green: #2ecc71;

$color-grey-dark-1: #212121;
$color-grey-dark-2: #303030;
$color-grey-dark-3: #424242;
$color-grey-dark-4: #494949;

$color-grey-light-1: #747474;
$color-grey-light-2: #898989;
$color-grey-light-3: #bdbdbd;
$color-grey-light-4: #e0e0e0;

// Partials imports
@import '../components/Header/header';
@import '../components/Footer/footer';
@import '../components/Loader/loader';
@import '../pages/auth/auth.scss';
@import '../pages/Home/home.scss';
@import '../pages/Tasks/tasksPage';
@import '../pages/AddTask/addTask';
@import '../pages/TaskPage/taskPage';
@import '../pages/TaskEditor/taskEditor';
@import '../hoc/WithNotifications/notify';

// Global reset
* {
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	color: $color-font-primary;
	text-rendering: optimizeLegibility;

	background-color: $color-grey-dark-2;
	box-sizing: border-box;
}

::selection {
	background-color: $color-blue;
	color: $color-white;
}

.container {
	max-width: 120rem;
	padding: 0 3rem;
	margin: 0 auto;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

.mb-sm {
	margin-bottom: 1.5rem !important;
}

.mb-md {
	margin-bottom: 3rem !important;
}

.editor {
	font-family: 'Consolas', monospace !important;
}

.section__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.link {
	&:link,
	&:visited {
		display: inline-block;
		border: 1px solid transparent;
		border-radius: 5px;
		padding: 0.8rem 1.4rem;

		text-decoration: none;
		color: $color-font-primary;
		font-size: 1.4rem;
		font-weight: 500;
		transition: all 0.2s ease;

		&:hover {
			background-color: $color-grey-dark-3;
			border-color: $color-grey-dark-3;
		}
	}
}
